.box
{
	height: 25vh;
	width: 18vw;
	background-color: #2E2E2E;
	float: left;
	margin-right: 10px;
	color: white;
	text-align: center;
	line-height: 25vh;
	font-family: Arial;
	font-size: 30px;
	margin-bottom: 10px;
}

h1
{
	text-align: center;
	color: white;
	line-height: 22vh;
	font-size: 25px;
}